.maniaEditor {
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	grid-template-rows: 3fr 1fr 0.4fr;
	height: 100%;
	gap: 0;
	
	> .section {
		border: 0 solid black;
		padding: 10px;
	}
	
	> .section.s1 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 64px;
		grid-column: 1;
		grid-row: span 2;
		padding: 0;
		border-width: 1px 1px 0 0;
		position: relative;
		background-color: hsl(0, 0%, 30%);
		
		> .hitObjectEditor {
			display: flex;
			flex-direction: row;
			z-index: 2;
			
			&.edit {
				border: 1px solid white;
				border-width: 0 1px;
			}
		}
		
		> .imgBackground, > .videoBackground {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		
		> .modeSelector {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			gap: 10px;
			padding: 5px 0;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 150px;
			
			> .mode {
				display: flex;
				flex-direction: column;
				background-color: hsla(0, 0%, 0%, 0.5);
				padding: 10px;
				color: hsl(0, 0%, 100%);
				border: 2px solid hsla(0, 0%, 80%, 0.5);
				border-right: none;
				border-radius: 10px 0 0 10px;
				width: 120px;
				transition: width 250ms cubic-bezier(0.175, 0.885, 0.1, 1.5);
				outline: none;
				
				> .icon {
					height: 100px;
					opacity: 0.3;
					object-fit: contain;
					transition: opacity 125ms linear;
				}
				
				&.selected {
					width: 150px;
					
					> .icon {
						opacity: 1;
					}
				}
			}
		}
	}
	
	> .section.s2 {
		display: flex;
		flex-direction: column;
		gap: 5px;
		grid-column: 2;
		grid-row: 1;
		border-width: 1px 0 1px 0;
		font-family: 'JetBrains Mono', monospace;
	}
	
	> .section.s3 {
		display: flex;
		flex-direction: column;
		gap: 5px;
		grid-column: 2;
		grid-row: 2;
		font-family: 'JetBrains Mono', monospace;
		
		> .userOption {
			display: flex;
			flex-direction: row;
			gap: 10px;
			
			> input:not([type=checkbox]) {
				flex-grow: 1;
			}
			
			> input[type=checkbox] {
				margin-right: auto;
			}
		}
	}
	
	> .section.s4 {
		grid-column: 1 / span 2;
		grid-row: 3;
		border-width: 1px 0 0 0;
		font-family: 'JetBrains Mono', monospace;
	}
}
