main.beatmapListPage {
	padding-top: 64px;
	height: calc(100% - 74px);
}

.copyrightNotice {
	right: 5px;
	top: 45px;
}

.appOptions {
	display: flex;
	flex-direction: column;
	gap: 10px;
	
	> legend {
		font-weight: bold;
	}
}

.infoContainer {
	display: flex;
	flex-direction: row;
	gap: 10px;
	
	> input {
		font-family: 'JetBrains Mono';
		flex-grow: 1;
	}
}

.beatmapList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 1;
	overflow-y: hidden;
	
	> legend {
		font-weight: bold;
	}
	
	> .info {
		display: flex;
		flex-direction: column;
		gap: 10px;
		
		> div {
			display: flex;
			flex-direction: row;
			gap: 10px;
			
			> input, button {
				flex-grow: 1;
			}
		}
	}
	
	> .list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		flex-grow: 1;
		overflow-y: auto;
		
		> .beatmapItem {
			display: flex;
			flex-direction: column;
			gap: 10px;
			
			> legend {
				font-size: 2rem;
				text-align: center;
				font-weight: bold;
				padding: 0 20px;
			}
			
			> .buttons {
				display: flex;
				flex-direction: row;
				gap: 10px;
				
				> button {
					flex-grow: 1;
				}
			}
			
			> .difficulties {
				display: flex;
				flex-direction: column;
				gap: 10px;
				padding: 10px 0;
				position: relative;
				
				> .difficulty {
					display: flex;
					flex-direction: row;
					gap: 30px;
					padding: 10px;
					width: 35%;
					margin: 0;
					text-align: right;
					backdrop-filter: blur(20px);
					border-radius: 0 10px 10px 0;
					border: 2px dashed hsla(0, 0%, 80%, 0.6);
					border-left: none;
					background-color: hsla(0, 0%, 0%, 0.3);
					color: hsl(0, 0%, 100%);
					
					> .info {
						flex-grow: 3;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						gap: 10px;
					}
					
					> .buttons {
						flex-grow: 1;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						gap: 10px;
					}
				}
				
				> .background {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border-radius: 5px;
					object-fit: cover;
				}
			}
		}
		
		> .loading {
			display: flex;
			flex-direction: column;
			gap: 4px;
			margin-top: 20px;
			
			> .progressLabel {
				text-align: center;
			}
			
			> .loadingGif {
				background-color: hsl(212, 80%, 70%);
				margin: 0 auto;
				mask-image: url("@/assets/images/loading.gif");
				mask-size: cover;
				filter: none;
			}
		}
	}
}
